# Interactive Visualization Lab

Complete the following set of exercises to solidify your knowledge of interactive visualization using Plotly, Cufflinks, and IPyWidgets.

In [1]:
#%pip install chart-studio
#%pip install cufflinks

In [39]:
import pandas as pd
import chart_studio.plotly as py
import cufflinks as cf
from ipywidgets import interact, widgets
import warnings
warnings.filterwarnings('ignore')
cf.go_offline()

In [3]:
churm = pd.read_csv('../data/churn.csv')
churm.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,MonthLevel,TotalLevel,TenureLevel,ChurnBinary
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,Month-to-month,Yes,Electronic check,29.85,29.85,No,Low,Very Low,New,0.0
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,One year,No,Mailed check,56.95,1889.50,No,Low,Moderate,Loyal,0.0
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,Low,Very Low,New,1.0
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,One year,No,Bank transfer (automatic),42.30,1840.75,No,Low,Moderate,Loyal,0.0
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,Moderate,Very Low,New,1.0

In [4]:
vehicles= pd.read_csv('../data/vehicles.csv')
vehicles.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [5]:
retail = pd.read_excel('../data/Online_Retail.xlsx')
retail.head()

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom

## 1. Create an interactive bar chart showing total quantity and revenue by country (excluding United Kingdom) for the month of April 2011.

In [6]:
#Filtro el DF para incluir solo los datos del mes de abril de 2011 y excluye Reino Unido.

retail_april = retail[(retail['InvoiceDate'].dt.month == 4) & 
                      (retail['InvoiceDate'].dt.year == 2011) & 
                      (retail['Country'] != 'United Kingdom')]
retail_april.head()

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country
724,549667,2011-04-11 12:20:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.95,17.70,14911,EIRE
807,551163,2011-04-26 15:52:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,9,2.95,26.55,12573,France
3320,550899,2011-04-21 12:07:00,22752,SET 7 BABUSHKA NESTING BOXES,2,8.50,17.00,13505,Switzerland
4880,550527,2011-04-19 10:48:00,84879,ASSORTED COLOUR BIRD ORNAMENT,40,1.69,67.60,12476,Germany
4882,550620,2011-04-19 13:39:00,84879,ASSORTED COLOUR BIRD ORNAMENT,32,1.69,54.08,12585,Germany

In [7]:
#Creo un grÃ¡fico de barras interactivo con las cantidades totales y los ingresos por paÃ­s.

@interact(country=retail_april['Country'].unique())
def interactive_bar_chart(country):
    filtered_retail = retail_april[retail_april['Country'] == country]
    
    # Verificar si hay datos para el paÃ­s y el mes seleccionados
    if not filtered_retail.empty:
        fig = filtered_retail[['InvoiceDate', 'Quantity', 'Revenue']].set_index('InvoiceDate').iplot(
            kind='bar',
            title=f'{country} - April 2011',
            xTitle='Fecha de Factura', yTitle='Valor',
            asFigure=True  # Cambiado a asFigure=True
        )
        fig.show()
    else:
        print(f"No hay datos para {country} en abril de 2011")

interactive(children=(Dropdown(description='country', options=('EIRE', 'France', 'Switzerland', 'Germany', 'Auâ€¦

## 2. Create an interactive line chart showing quantity and revenue sold to France between January 1st and May 31st 2011.

In [13]:
# Filtro por las fechas y paÃ­s
retail_france = retail[(retail['InvoiceDate'] >= '2011-01-01') & 
                        (retail['InvoiceDate'] <= '2011-05-31') & 
                        (retail['Country'] == 'France')]

In [16]:
# FunciÃ³n para crear grÃ¡fico interactivo
@interact
def interactive_line_chart():
    fig = retail_france[['InvoiceDate', 'Quantity', 'Revenue']].set_index('InvoiceDate').iplot(
        kind='line',
        title='Cantidad y Ingresos vendidos a Francia (Ene-Mayo 2011)',
        xTitle='Fecha de Factura', yTitle='Valor',
        asFigure=True
    )
    fig.show()

interactive(children=(Output(),), _dom_classes=('widget-interact',))

## 3. Create an interactive scatter plot showing the relationship between average quantity (x-axis) and average unit price (y-axis) for the product PARTY BUNTING with the plot points color-coded by country (categories).

In [10]:
# Filtro por el producto "PARTY BUNTING"
party_bunting_data = retail[retail['Description'] == 'PARTY BUNTING']

In [17]:
# Calculo las medias por paÃ­s
average_data = party_bunting_data.groupby('Country').agg({'Quantity': 'mean', 'UnitPrice': 'mean'}).reset_index()
average_data.head()

           Country   Quantity  UnitPrice
0        Australia  33.125000     4.7125
1          Austria   8.000000     4.9500
2          Belgium   4.000000     4.9500
3  Channel Islands  13.333333     4.9500
4           Cyprus   2.333333     4.7500

In [12]:
# FunciÃ³n para crear grÃ¡fico interactivo
@interact
def interactive_scatter_plot():
    fig = average_data.iplot(kind='scatter', x='Quantity', y='UnitPrice', 
                             categories='Country', mode='markers', 
                             xTitle='Cantidad Promedio', yTitle='Precio Unitario Promedio',
                             title='RelaciÃ³n entre Cantidad y Precio para PARTY BUNTING',
                             colorscale='plotly', asFigure=True)
    fig.show()

interactive(children=(Output(),), _dom_classes=('widget-interact',))

## 4. Create a set of interactive histograms showing the distributions of quantity per invoice for the following countries: EIRE, Germany, France, and Netherlands.

In [20]:
# Filtro por los paÃ­ses especificados
selected_countries = ['EIRE', 'Germany', 'France', 'Netherlands']
retail_selected_countries = retail[retail['Country'].isin(selected_countries)]
retail_selected_countries.head()

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country
179,539320,2010-12-16 19:16:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,24,2.95,70.8,14911,EIRE
198,539722,2010-12-21 13:45:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,24,2.95,70.8,14911,EIRE
304,541570,2011-01-19 12:34:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,256,2.55,652.8,14646,Netherlands
322,541979,2011-01-24 14:54:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.95,17.7,14911,EIRE
367,542777,2011-02-01 08:31:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.95,17.7,14911,EIRE

In [19]:
# FunciÃ³n para crear histograma interactivo
@interact(country=selected_countries)
def interactive_histogram(country):
    fig = retail_selected_countries[retail_selected_countries['Country'] == country]['Quantity'].iplot(
        kind='hist',
        bins=20,
        title=f'DistribuciÃ³n de la Cantidad por Factura - {country}',
        xTitle='Cantidad',
        yTitle='Frecuencia',
        asFigure=True
    )
    fig.show()

interactive(children=(Dropdown(description='country', options=('EIRE', 'Germany', 'France', 'Netherlands'), vaâ€¦

## 5. Create an interactive side-by-side bar chart showing the revenue by country listed below (bars) for each of the products listed below.

- product_list = ['JUMBO BAG RED RETROSPOT',
                'CREAM HANGING HEART T-LIGHT HOLDER',
                'REGENCY CAKESTAND 3 TIER']
- country_list = ['EIRE', 'Germany', 'France', 'Netherlands']

In [25]:
# Productos y paÃ­ses especificados
selected_products = ['JUMBO BAG RED RETROSPOT', 'CREAM HANGING HEART T-LIGHT HOLDER', 'REGENCY CAKESTAND 3 TIER']
selected_countries = ['EIRE', 'Germany', 'France', 'Netherlands']

In [26]:
# Filtro por productos y paÃ­ses
retail_selected = retail[(retail['Description'].isin(selected_products)) & 
                         (retail['Country'].isin(selected_countries))]
retail_selected.head()

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country
179,539320,2010-12-16 19:16:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,24,2.95,70.8,14911,EIRE
198,539722,2010-12-21 13:45:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,24,2.95,70.8,14911,EIRE
304,541570,2011-01-19 12:34:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,256,2.55,652.8,14646,Netherlands
322,541979,2011-01-24 14:54:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.95,17.7,14911,EIRE
367,542777,2011-02-01 08:31:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.95,17.7,14911,EIRE

In [27]:
# FunciÃ³n para crear grÃ¡fico de barras interactivo
@interact(product=selected_products)
def interactive_bar_chart(product):
    fig = retail_selected[retail_selected['Description'] == product].pivot_table(
        index='Country', values='Revenue', aggfunc='sum').iplot(
        kind='bar',
        title=f'Ingresos por PaÃ­s para {product}',
        xTitle='PaÃ­s',
        yTitle='Ingresos',
        asFigure=True
    )
    fig.show()

interactive(children=(Dropdown(description='product', options=('JUMBO BAG RED RETROSPOT', 'CREAM HANGING HEARTâ€¦

## 6. Create an interactive line chart showing quantity sold by day for the United Kingdom. Add drop-down boxes for Year and Month that allow you to filter the date range that appears in the chart.

In [28]:
# Filtrar por el Reino Unido
retail_uk = retail[retail['Country'] == 'United Kingdom']

In [29]:
# Extraer aÃ±os y meses Ãºnicos para las cajas desplegables
unique_years = retail_uk['InvoiceDate'].dt.year.unique()
unique_months = retail_uk['InvoiceDate'].dt.month_name().unique()

In [33]:
# FunciÃ³n para crear grÃ¡fico de lÃ­neas interactivo
@interact(year=Dropdown(options=unique_years), month=Dropdown(options=unique_months))
def interactive_line_chart(year, month):
    # Filtrar por aÃ±o y mes seleccionados
    filtered_data = retail_uk[(retail_uk['InvoiceDate'].dt.year == year) & 
                               (retail_uk['InvoiceDate'].dt.month_name() == month)]
    
    # Crear grÃ¡fico de lÃ­neas interactivo
    fig = filtered_data.groupby(filtered_data['InvoiceDate'].dt.day)['Quantity'].sum().iplot(
        kind='line',
        title=f'Cantidad vendida por dÃ­a en {month} {year}',
        xTitle='DÃ­a',
        yTitle='Cantidad',
        asFigure=True
    )
    fig.show()

interactive(children=(Dropdown(description='year', options=(2010, 2011), value=2010), Dropdown(description='moâ€¦

## 7. Create an interactive scatter plot that plots number of invoices (x-axis) vs. number of customers (y-axis) and the plot points represent individual products. Add two sliders that control the x and y axis ranges.

In [34]:
# Agrupo por producto para obtener el nÃºmero de facturas y clientes
product_stats = retail.groupby('Description').agg({'InvoiceNo': 'nunique', 'CustomerID': 'nunique'}).reset_index()
product_stats.head()

                      Description  InvoiceNo  CustomerID
0   4 PURPLE FLOCK DINNER CANDLES         36          31
1   50'S CHRISTMAS GIFT BAG LARGE        111         108
2               DOLLY GIRL BEAKER        133         100
3     I LOVE LONDON MINI BACKPACK         69          58
4         NINE DRAWER OFFICE TIDY         30          29

In [37]:
# FunciÃ³n para crear grÃ¡fico de dispersiÃ³n interactivo

@interact(x_range=FloatRangeSlider(min=0, max=product_stats['InvoiceNo'].max(), value=[0, product_stats['InvoiceNo'].max()]),
          y_range=FloatRangeSlider(min=0, max=product_stats['CustomerID'].max(), value=[0, product_stats['CustomerID'].max()]))
def interactive_scatter_plot(x_range, y_range):
    filtered_data = product_stats[(product_stats['InvoiceNo'] >= x_range[0]) & (product_stats['InvoiceNo'] <= x_range[1]) &
                                  (product_stats['CustomerID'] >= y_range[0]) & (product_stats['CustomerID'] <= y_range[1])]

    fig = filtered_data.iplot(
        kind='scatter',
        mode='markers',
        x='InvoiceNo',
        y='CustomerID',
        text='Description',
        title='NÃºmero de Facturas vs. NÃºmero de Clientes por Producto',
        xTitle='NÃºmero de Facturas',
        yTitle='NÃºmero de Clientes',
        asFigure=True
    )
    fig.show()

interactive(children=(FloatRangeSlider(value=(0.0, 1978.0), description='x_range', max=1978.0), FloatRangeSlidâ€¦

## 8. Creat an interactive bar chart that shows revenue by product description. Add a text field widget that filters the results to show the product that contain the text entered in their description.

In [40]:
# FunciÃ³n para crear grÃ¡fico de barras interactivo
@interact(search_text=widgets.Text(value='', placeholder='Ingrese texto de descripciÃ³n'))
def interactive_bar_chart(search_text):
    # Filtrar datos segÃºn el texto de bÃºsqueda
    filtered_data = retail[retail['Description'].str.contains(search_text, case=False, na=False)]

    # Agrupar por descripciÃ³n para obtener los ingresos
    revenue_by_product = filtered_data.groupby('Description')['Revenue'].sum().reset_index()

    # Crear grÃ¡fico de barras interactivo
    fig = revenue_by_product.iplot(
        kind='bar',
        x='Description',
        y='Revenue',
        text='Description',
        title='Ingresos por DescripciÃ³n de Producto',
        xTitle='DescripciÃ³n de Producto',
        yTitle='Ingresos',
        asFigure=True
    )
    fig.show()

interactive(children=(Text(value='', description='search_text', placeholder='Ingrese texto de descripciÃ³n'), Oâ€¦